* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100svh;
  display: grid;
  grid-template-columns: 300px 1fr;
  /* grid-template-rows: 200px 1fr; */
}

.header {
  background-color: antiquewhite;
}

.todo {
  background-color: aquamarine;
  min-width: 450px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sidebar {
  background-color: cadetblue;
  /* grid-area: 1 / 1 / -1 / 2; */
}

.form-container {
  display: grid;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  place-self: center;
}

.hidden {
  display: none;
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 0.5rem;
  max-width: 300px;
}

input,
button {
  padding: 5px;
}

textarea {
  resize: none;
  padding: 5px;
}

.form-main {
  place-self: center;
  background-color: azure;
  width: 300px;
  border-radius: 1rem;
}

.new-button {
  color: white;
  background-color: green;
}

#submit {
  background-color: green;
  color: white;
}

#cancel {
  background-color: red;
  color: white;
}

.task-container {
  width: 90%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  cursor: pointer;
  background-color: white;
  border-radius: 0.5rem;
  padding: 10px;
}

.task-form {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 75px 75px;
  grid-template-rows: 25px 1fr;
  padding: 10px;
  gap: 2px;
}

.task-form input:not([type="submit"]) {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.task-form textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.task-description {
  grid-area: 2 / 1 / 3 / -1;
  font-style: italic;
}

.task-title {
  font-size: 1rem;
  font-weight: bold;
}

.edit {
  background-color: rgba(159, 159, 159, 0.217);
}
